*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: aliceblue;
}

li{
  list-style: none;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  gap: 2%;
}

header img{
  width: 50px;
  border-radius: 50%;
  border: 2px solid black;
  padding: 5px;
}

header h1{
  color: rgb(120, 120, 253);
}

.stop-watch{
  width: 400px;
  background-color: rgb(132, 191, 253);
  margin: 2%auto;
  border-radius: 10px;
  padding: 10px 15px;
}

.stop-watch .timer p{
  font-size: 25px;
  background-color: aliceblue;
  text-align: center;
  border-radius: 100px;
}

.stop-watch .timer-button{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.stop-watch .stop-watch-button button{
 font-size: 20px;
 padding: 5px 10px;
 margin: 10px;
 width: fit-content;
 cursor: pointer;
 color: aliceblue;
}

.stop-watch .stop-watch-button button:disabled{
  background-color: rgb(128, 128, 128);
  cursor:not-allowed
}

.stop-watch-button .start-btn{
  background-color: greenyellow;
}

.stop-watch-button .stop-btn{
  background-color: rgb(255, 62, 62);
}

.stop-watch-button .lap-btn{
  background-color: gold;
}

.stop-watch-button .reset-btn{
  background-color: orange;
}

.stop-watch .timer-laps{
  background-color: aliceblue;
  padding: 5px 10px;
  border-radius: 10px;
}

.timer-laps h3{
  text-align: center;
  margin: 2% 0;
}

.timer-laps p{
  font-weight: lighter;
}
.timer-laps li{
  text-align: center;
  border-bottom: 1px solid black;
}